html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  background-color: #F6F2ED;
}

section {
  padding: 0 0 10px 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 15px 0;
}

a {
  color: #BD5F33;
}

p, pre {
  text-align: justify;
  font-family: "Times";
  font-size: 1.2rem;
  padding: 0 10px;
}

p {
  text-indent: 20px;
  line-height: 125%;
}

pre {
  padding: 0;
}

p.foot-note {
  font-size: 1rem;
}

.pali {
  font-style: italic;
}

.pali-section {
  margin: 0 10%;
}

pre.pali-indented {
  /* margin: 0 50px 0; */
}

span.ref-footnote {
  text-decoration: underline;
  cursor: pointer;
}

/* Compare component */
table {
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
  margin: 0;
}

td, th {
  padding: 1rem;
  border: 1px solid gray;
  font-size: 1.1rem
}

th {
  text-align: center;
  background: hsl(206, 51%, 84%);
  font-weight: 700;
}

tr:nth-child(even) {
  background: hsl(206, 51%, 95%);
}

tfoot td {
  font-size: .8rem
}

button {
  border: none;
  border-radius: 5px;
  background: #ba5626;
  font-size: 1rem;
  color: white;
  width: 105px;
  margin: 5px;
  padding: 5px 0;
  cursor: pointer;
}

