html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  background-color: #f9f9f9;
  font-family: 'Noto Serif', serif;
  color: #222;
}

section {
  padding: 0 0 10px 0;
}

.section-content {
  margin: 0 5%;
}

p.namo-tassa {
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.4rem;
  margin-top: 3rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 15px 0;
}


a {
	color: #2c8898;
}
	
a:hover, a:active {
  color: #4D4612;
}

hr {
  margin: 50px auto;
	width: 90vw;
  border: 1px solid black;
}

p, blockquote {
  text-align: justify;
  font-family: "Times";
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 125%;
  margin: 5px 0;
}

pre {
  text-align: justify;
  font-family: "Times";
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 125%;
  margin: 5px 0 -20px 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.center-text {
	text-align: center
}
	
.intro-content-container {
	margin: 0 3vw;
}

.center-in-cont {
	display: flex;
	justify-content: center;
}
	
.center-verses {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.attribution {
	text-align: right;
	font-size: .8rem;
	margin-bottom: 20px;
}
	
.justified-indented-quote {
	margin: 10px 12%;
	text-align: justify;
}

.pali {
  font-style: italic;
	color: #2c8898; /* DarkOliveGreen */
}

.indent {
  text-indent: 40px;
 }
 
.indentx2 {
 text-indent: 80px;
}

.footnotes {
	width: 85%;
	margin: 0;
	text-align: justify;
}
.footnotes :target {
  background-color: lightgray;
  padding: 10px;
  font-size: 1.1rem;
  box-shadow: 0 1px 6px black;
}

.footnotes ol li {
	font-size: 14px; 
	margin-bottom: 7px;
	line-height: 140%;
}
sup { 
	font-size: 12px;
	margin: 0 2px 0 2px;
}

button {
  border: none;
  border-radius: 5px;
  background: #ba5626;
  font-size: 1rem;
  color: white;
  width: 105px;
  margin: 5px;
  padding: 5px 0;
  cursor: pointer;
}

